.carousel {
    clear: both;
    background: #eee;
    position: relative;
    width: 400px;
    height: 300px;
    padding:0 20px;
}
carousel .wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel .wrapper ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 2000px;
}
.carousel .wrapper ul li {
    float: none;
    width: 400px;
    margin: 5px;
    text-align: center;
    background: #fff;
    height: 300px;
    overflow: hidden;
    list-style: none;
}